<ul class="consent-panel">
  <% locals.consents.forEach(function(consent) { %>
    <li class="consent-panel__item" data-consent-id="<%= consent.id %>" >
      <div class="consent-panel__item_toggle">
        <label class="switch-light switch-ios" onclick="">
          <% var checked = consent.status === "accepted" ? "checked" : "" %>
          <input type="checkbox" <%- checked %> >
          <strong class="consent-panel__item_toggle_label">Allowed</strong>
          <span>
            <span>No</span>
            <span>Yes</span>
            <a></a>
          </span>
        </label>
      </div>
      <h4 class="consent-panel__item_title"><%= consent.title %></h4>
      <div class="consent-panel__item_description"><%= consent.description %></div>
      <div class="consent-panel__item_updated"><%= consent.updatedAtDescription %></div>
    </li>
  <% }); %>
</ul>
